/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
    font-size: 24px;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

img {
    max-width: 100%;
}

input {
    font-size: 24px;
}

.top-bord {
    border-top: 2px black solid;
}

.meep {
    position: relative;
    float: right;
    margin-right:-20px;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background-color: #99ddff;
    border-radius: 10px;
    border: 10px;

}

.addcontact {
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 30px !important;
    background-color: #99ddff !important;
    border-radius: 10px;
    border: 10px !important;

}

.from-name {
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.reply-btn {
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 30px !important;
    background-color: #99ddff !important;
    border-radius: 10px;
    border: 10px;
    color: black !important;
}

.delete-btn {
    position: relative;
    width: 90%;
    text-decoration: none;
    font-size: 30px;
    background-color: red;
    border-radius: 10px;
    border: 10px;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


.a-btn {
    text-decoration: none;
    color: black;
    background-color: #99ddff;
    margin-top:-5px;
    margin-bottom:-5px;
    margin-left: -30px;
    margin-right: -30px;
}

.message-btn {
    position: relative;
    height: 60px;
    width: 220px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 30px !important;
    background-color: #99ddff !important;
    border-radius: 10px;
    border: 10px;
    color: black !important;
}

.secret-btn {
    background-color: rgb(233, 233, 233) !important;
    border: none !important;
    font-size:0px;
    width: 1px;
    height: 1px;
}

.read-msg {
    font-size: 22px;
    background-color: #E0E0E0 ;
    border:gray;
    border-radius:3px;
    border-top:2px black solid;
}

.unread-msg {
    font-size: 22px;
    background-color: #E0E0E0 ;
    font-weight: bold;
    color: #009900;
    border-radius:3px;
    border-top:2px black solid;
}

.msg-date{
    font-size: 20px;
}

.filter-font{
    font-size: 30px;
}

.ui-navbar li .ui-btn {
    font-size: 22px;
    display: block;
    margin: 0;
    border-right-width: 0;
}

.blue-btn {
    background-color: #99ddff !important;
}

.msg-name {
    font-size: 24px;
    font-weight: bold;
}

.bigiconfont {
    font-size: 24px;

}

.contact-list-name {
    font:bold;
    border-top: 2px black solid;
    margin-top: 40px;
    font: 20px;

}

.center_wrapper {
    margin: 0 auto;
    text-align: center;
}

.wrap {
    white-space: normal !important;
}

.boldyes {
    background-color: rgba(102, 255, 0, 0.71) !important;
    font-weight: bold;
    font-size: 20px;
    padding: 1em !important;
}

.boldno {
    background-color: rgba(255, 0, 0, 0.41) !important;
    font-weight: bold;
    font-size: 20px;
    padding: 1em !important;
}


.simpl_header {
    font-size: 1.3em !important;
}

#contact_req {
    font-size: 1.5em !important;
    margin: 0 !important;
    overflow: visible !important;
}

.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
